footer {
    margin-top: 2rem;
    height: 2rem;
    width: 100%;
    background-color: $light-blue;
    color: $white;
    font-size: .8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}