.scroll-section {

    .container__scroll-section {
        margin: 5rem auto;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .scroll-img {
            width: 2.8rem;
        }

        .scroll-text {
            margin-top: .5rem;
            font-weight: 500;
        }

        @include breakpoint {
            margin: 5rem auto;
        }
    }
}