.form__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 100%;
        margin-bottom: 1rem;

        fieldset {
            border: 0;

            &:first-of-type {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            .field {
                margin: 2rem 0;

                input {
                    width: 80%;
                    font-size: 12px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #EDEDED;
                    padding: .2rem 0;
                    display: block;
                }

            }

            label {
                font-size: 16px;
                font-weight: 700;

                & .required {
                    margin-left: .5rem;
                    color: #cf3950;
                }

            }

            #message {
                margin-top: .8rem;
                min-width: 100%;
                min-height: 200px;
                padding: 2rem;
                background-color: #EDEDED;
                border-radius: 0 3rem 3rem 3rem;
                font-size: 14px;
                outline: none;
                border: none;

                &::placeholder {
                    position: absolute;
                }
            }

        }

    }

    @media screen and (max-width: 960px) {
        width: 80%;

        form {

            fieldset {
                border: 0;

                &:first-of-type {
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                }

                .field {
                    margin: 2rem 0;

                    input {
                        width: 75vw;
                    }

                }
            }

        }

    }

}